
  #about {
    background: #00d4ff;
    padding: 50px 0;
  }
  
  #about h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  

  
#hero {
    color: #000000;
    text-align: center;
    padding: 100px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
  }
  
  #hero h2 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  
  #hero p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .btn {
    display: inline-block;
    background: #FFD700;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
  }
  
  .btn:hover {
    background: #C0C0C0;
  }
